{% extends '::spokuwa.html.twig' %}

{% block content %}
<h1>Kursüberischt</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Bereich</th>
	</tr>
{% for course in courses %}
	<tr>
		<td>{{ course.id }}</td>
		<td><a href="{{ path('course_view', {'idcourse': course.id})}}">{{ course.name }}</a></td>
		<td>{{ course.scope ? 'B' : 'A' }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}