{% block navi %}
      <ul>
          <li><a href="{{ path('course_list') }}">Kursbersicht</a></li>
          <li><a href="{{ path('course_search') }}">Kurs suchen</a></li>
          <li><a href="{{ path('student_choices') }}">Meine Wahlen</a></li>
          <li><a href="{{ path('logout') }}">Beenden</a></li>
      </ul>
{% endblock %}