{% extends '::website_base.html.twig' %}

{% block content %}
<h1>Wahlablauf</h1>

<p>Der normale Ablauf der Sportkurswahlen mit SpoKuWa sieht in der Regel wie folgt aus:</p>
<ol>
	<li>Sportkurskoordinator legt Kurse an;</li>
	<li>Schüler registrieren sich im System / Werden vom Sportkurskoordinator eingetragen;</li>
	<li>Lehrer bestätigen Schüleraccounts / Schüler erhalten Zugangsdaten vom Klassenlehrer oder per Email;</li>
	<li>Schüler melden sich im System an und wählen Sportkurse;</li>
	<li>Sportkurskoordinator führt Zuordnungsalgorithmus aus;</li>
	<li>...führt ggfs. Änderungen an den Kurslisten durch;</li>
	<li>...druckt Wahlergebnisse oder Kurslisten;</li>
</ol>
{% endblock %}