{% extends '::website_base.html.twig' %}

{% block content %}
<h1>Willkommen bei SpoKuWa</h1>
<p>Spokuwa ist ein webbasiertes System zur Durchführung der Sportkurswahlen in der gymnasialen Oberstufe in Deutschland. 
Es ermöglicht die Digitalisierung und Automatisierung des gesamten Wahlablaufes vom Erstellen über die Zuordnung der 
Schüler auf die Kurse per Knopfdruck bishin zum Drucken der fertigen Kurslisten.</p>
{% endblock %}