{% extends '::website_base.html.twig' %}
{% block content %}
<h1>Impressum</h1>

<p>Für alle Inhalte auf dieser Website ist der Betreiber dieser Website verantwortlich.</p>

<p>
	Stephan Biastoch<br />
	Österbergstraße 12<br />
	72074 Tübingen<br />
	Deutschland<br />
</p>
{% endblock %}