{% extends '::website_base.html.twig' %}

{% block content %}
<h1>Alle Vorteile auf einen Blick</h1>

<p>SpoKuWa erleichtert den Ablauf der Sportkurswahlen erheblich:</p>
<ul>
	<li>Nie wieder Zettelwahlen!</li>
	<li>Automatische Zuordnung der Schüler auf die Kurse unter Berücksichtigung aller relevanter Faktoren.</li>
	<li>Hohe Sicherheit: Wir führen regelmäßig für Sie BackUps durch.</li>
	<li>Drucken von Wahlergebnissen und Kurslisten.</li>
	<li>Einfaches Bearbeiten von Kurslisten.</li>
	<li>Keine neue Hardware oder Software-Installation erforderlich.</li>
	<li>Umfangreiche Sortier- und Filtermöglichkeiten von Schülern und Kursen.</li>
	<li>Anpassbar an die individuellen Anforderungen Ihrer Schule (siehe unten).</li>
	<li>Individuelle Konfiguration</li>
</ul>

<p>Jede Schule handhabt die Sportkurswahlen etwas anders. Damit das Online-Wahlsystem möglichst genau dem Zettelsystem 
gleicht, stehen verschiedene Optionen zur Verfügung, mit denen sich das System individuell anpassen lässt. So ist eine 
Umstellung vom analogen auf digitale System ohne große Umgewöhnung möglich. Im Detail stehen folgende Optionen zur 
Verfügung:
<ul>
	<li>Name der Schule</li>
	<li>Sportkurse werden für 1/2/3 Jahre gewählt</li>
	<li>Schüleraccounts werden z.B. vom Klassenlehrer ausgeteilt / von den Schülern selber erstellt und bspw. vom 
	Klassenlehrer bestätigt.</li>
	<li>G8 / G9</li>
</ul>
</p>
{% endblock %}