{% extends '::spokuwa.html.twig' %}

{% block content %}
<h1>Einstellungen</h1>
<form action="{{ path('system_config') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}